ClientApp/Connected Services/WcfService/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductExtension">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductExtension" nillable="true" type="tns:ProductExtension" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductExtension" nillable="true" type="tns:ArrayOfProductExtension" />
  <xs:complexType name="ProductExtension">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuantityFrom" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityTo" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPriceFrom" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPriceTo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductExtension" nillable="true" type="tns:ProductExtension" />
  <xs:complexType name="ArrayOfOrderContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderContext" nillable="true" type="tns:OrderContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderContext" nillable="true" type="tns:ArrayOfOrderContext" />
  <xs:complexType name="OrderContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderContext" nillable="true" type="tns:OrderContext" />
</xs:schema>